<div class="card h-full flex flex-col">
  <img
    [src]="product().imageUrl"
    [alt]="product().name"
    class="w-full h-48 object-cover"
  />

  <div class="p-4 flex-grow flex flex-col">
    <h3 class="text-xl font-semibold mb-2">{{ product().name }}</h3>
    <p class="text-gray-600 mb-4 flex-grow">{{ product().description }}</p>

    <div class="space-y-4">
      <div class="grid grid-cols-2">
        <p class="text-2xl font-bold">${{ product().price.toFixed(2) }}</p>
        @if (product().stock !== 0) {
          <p class="text-2xl font-bold text-right">
            Stock - {{ product().stock }}
          </p>
        }
      </div>

      <div class="flex items-center space-x-2">
        <label for="quantity-{{ product().slug }}" class="sr-only"
          >Quantity</label
        >
        <button
          [disabled]="quantity() == 0 || product().stock == 0"
          (click)="buttonClick(product().slug, quantity())"
          class="btn btn-primary flex-grow"
          [attr.aria-label]="
            'Add ' + quantity + ' ' + product.name + ' to cart'
          "
        >
          {{ product().stock == 0 ? "Esaurito" : "Aggiungi al carrello" }}
        </button>
      </div>
    </div>
  </div>
</div>
