<div class="flex items-center gap-4 p-4 bg-white rounded-lg shadow-sm">
  <img
    [src]="product().imageUrl"
    [alt]="product().name"
    class="w-20 h-20 object-cover rounded"
  />

  <div class="flex-grow">
    <h3 class="font-semibold">{{ product().name }}</h3>
    <p class="font-medium">Prezzo: {{ product().price.toFixed(2) }}</p>
  </div>

  <div class="flex items-center gap-4">
    <div class="flex items-center">
      <button
        (click)="quantity.set(quantity() - 1)"
        [disabled]="quantity() <= 1"
        class="px-2 py-1 border rounded-l hover:bg-gray-100 disabled:opacity-50"
      >
        -
      </button>
      <div class="w-12 text-center border-y">
        {{quantity()}}
      </div>
      <!-- <input
        [disabled]="true"
        type="number"
        [value]="quantity()"
        min="1"
        class="w-12 text-center border-y"
      /> -->

      <button
        (click)="quantity.set(quantity() + 1)"
        class="px-2 py-1 border rounded-r hover:bg-gray-100"
      >
        +
      </button>
    </div>

    <button (click)="onAddProductToCart()" class="btn btn-primary">
      <span class="sr-only">Aggiungi Prodotto</span>
      <app-cart-icon></app-cart-icon>
    </button>
    
  </div>
</div>
